.color {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
  margin-bottom: -100px;
  letter-spacing: normal;
  opacity: 0;
  animation: fade-in .8s ease-in forwards;
}

.figure  {
  text-align: center;
}

.details {
  margin: -3rem 0 0 25%;
  font-size: 1.375rem;
  line-height: normal;
}

.label,
.price {
  margin: 0;
}

.price {
  color: var(--color-primary);
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}