.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 100%;
  padding: 0 13rem;
  border-top: 1px solid gray;
}

.footer img {
  width: 1.4rem;
}

.total-price {
  display: flex;
  flex-direction: column;
}

.value-price {
  color: var(--color-primary);
  font-size: 2rem;
}

.motor {
  font-weight: 500;
}

.type {
  color: var(--color-primary);
}

.hidden {
  opacity: 0;
}

@media only screen and (max-width: 700px) {
  .footer {
    padding: 0 .9rem;
    height: 70px;
  }

  .model-r, .motor, .footer.type, .color-footer, .footer img {
    display: none;
  }

}