.final {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
  letter-spacing: normal;
  opacity: 0;
  animation: fade-in .8s ease-in forwards;
}

.final .details {
  width: 50%;
}

.final h2 {
  font-size: 2.8125rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.model {
  color: var(--color-primary);
}

.final hr {
  border-color: #f7f7f7;
}

.final p {
  position: relative;
  font-size: 1.375rem;
  line-height: 3rem;
}

.final p span {
  position: absolute;
  right: 0;
  color: var(--color-primary);
}



p.finalPrice {
  font-size: 2rem;
}

.button-rebuild {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: .5rem;
  background-color: transparent;
  color: var(--color-text);
  text-decoration: none;
}

.button-rebuild::after {
  content: url('../assets/rebuild.svg');
  display: inline-block;
  position: relative;
  margin-left: 5px;
  top: 3px;
  transform-origin: center center;
  transition: all 1s ease-in;
}

.button-rebuild:hover::after {
  transform: rotate(360deg);
}

.rebuild {
  margin-top: 5rem;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .final {
    flex-direction: column;
  }
  
  .final img {
    width: 100%;
    margin-top: 70px;
  }

  .final h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .final .details {
    width: 100%;
  }

  .final p {
    margin: 0;
  }

  .rebuild {
    margin-top: 2rem;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}