.wheels {
  display: flex;
  flex-direction: column;
}

.wheel_option {
  display: flex;
}

.wheels h2 {
  margin-top: -3rem;
  font-size: 2.8125rem;
  font-weight: 300;
}

.wheel_selected, 
.wheel_notSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wheel_selected figcaption,
.wheel_notSelected figcaption {
  margin-top: 2.5rem;
}

.wheel_notSelected {
  opacity: .5;
  transition: all .3s ease-in;
}

img.wheel_notSelected {
  width: 80%;
  transition: all .3s ease-in;
}

.wheel_notSelected p {
  opacity: 0;
  transition: all .3s ease-in;
}

.wheel_notSelected:hover,
.wheel_notSelected:hover p {
  opacity: 1;
}

img.wheel_notSelected:hover {
  width: 100%;
}